# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv("Resources//hawaii_measurements.csv")
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"])
dr_DateTime = df
dr_DateTime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [4]:
# Set the date column as the DataFrame index
df_date = df.set_index("date")
df_date.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [5]:
# Drop the date column
df.drop(columns=["date"])

           station  prcp  tobs
0      USC00519397  0.08    65
1      USC00519397  0.00    63
2      USC00519397  0.00    74
3      USC00519397  0.00    76
4      USC00519397   NaN    73
...            ...   ...   ...
19545  USC00516128  0.09    71
19546  USC00516128   NaN    78
19547  USC00516128  0.56    76
19548  USC00516128  0.50    76
19549  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months
#June
June_data = dr_DateTime[dr_DateTime["date"].dt.strftime('%m') == "06"]
June_data.head()

         station       date  prcp  tobs
133  USC00519397 2010-06-01  0.00    78
134  USC00519397 2010-06-02  0.01    76
135  USC00519397 2010-06-03  0.00    78
136  USC00519397 2010-06-04  0.00    76
137  USC00519397 2010-06-05  0.00    77

In [8]:
# Filter data for desired months
# December
December_data = dr_DateTime[dr_DateTime["date"].dt.strftime('%m') == "12"]
December_data.head()

         station       date  prcp  tobs
305  USC00519397 2010-12-01  0.04    76
306  USC00519397 2010-12-03  0.00    74
307  USC00519397 2010-12-04  0.00    74
308  USC00519397 2010-12-06  0.00    64
309  USC00519397 2010-12-07  0.00    64

In [9]:
# Identify the average temperature for June
AverageTempJune = June_data["tobs"].mean()
print(f"The average temperature in June across the years is {AverageTempJune}")

The average temperature in June across the years is 74.94411764705882

In [10]:
# Identify the average temperature for December
AverageTempDec = December_data["tobs"].mean()
print(f"The average temperature in December across the years is {AverageTempDec}")

The average temperature in December across the years is 71.04152933421226

In [11]:
# Create collections of temperature data
June_Temp = June_data["tobs"].reset_index().dropna()
June_Temp = June_Temp.drop(columns=["index"])
June_Temp = June_Temp["tobs"]
June_Temp

0       78
1       76
2       78
3       76
4       77
        ..
1695    79
1696    74
1697    74
1698    76
1699    75
Name: tobs, Length: 1700, dtype: int64

In [12]:
Dec_Temp = December_data["tobs"].reset_index().dropna()
Dec_Temp = Dec_Temp.drop(columns=["index"])
Dec_Temp = Dec_Temp["tobs"]
Dec_Temp

0       76
1       74
2       74
3       64
4       64
        ..
1512    71
1513    71
1514    69
1515    65
1516    65
Name: tobs, Length: 1517, dtype: int64

In [13]:
# Run paired t-test
# Since from the same subject
stats.ttest_ind(June_Temp, Dec_Temp, equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)